<div class="grid-container">
  <div class="filter-section">
    <select class="dropdown yearly-select">
      <option value="Yearly" class="option">Yearly</option>
    </select>
    <select class="dropdown">
      <option value="2024">2024</option>
      <option value="2023">2023</option>
    </select>
    <input type="text" placeholder="Yearly" class="custom-input">
    <input type="text" placeholder="Yearly" class="custom-input">
    <input type="text" placeholder="Yearly" class="custom-input">
    <button class="submit">Submit</button>
    <mat-icon class="more-icon">more_vert</mat-icon>
  </div>

  <mat-grid-list cols="2" rowHeight="350px">
    <!-- Card 1 -->
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Overall Trends <br> 2024
          </mat-card-title>
          <div class="header-right">
            <div>Active Users&nbsp;&nbsp;</div>
            <select>
              <option value="Yearly">Yearly</option>
            </select>
          </div>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- Card 1 Content -->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Text between cards -->
    <!-- <mat-grid-tile colspan="2" rowspan="1">
      <div class="text-between-cards">
        Please click on the individual KPI values for the Detailed information
      </div>
    </mat-grid-tile> -->

    <!-- Card 2 -->
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Section 1 [40/40]
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th colspan="2" class="head">Line Stoppage (Material)</th>
                </tr>
                <tr>
                  <th>SRR Value (mins)</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>15/15</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>0/0</td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                <tr>
                  <th colspan="2" class="head">Line Stoppage (Material)</th>
                </tr>
                <tr>
                  <th>SRR Value (mins)</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>15/15</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>0/0</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th colspan="2" class="head">Line Stoppage (Material)</th>
                </tr>
                <tr>
                  <th>SRR Value (mins)</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>15/15</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>0/0</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th colspan="2" class="head">Line Stoppage (Material)</th>
                </tr>
                <tr>
                  <th>SRR Value (mins)</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>15/15</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>0/0</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th colspan="2" class="head">Line Stoppage (Material)</th>
                </tr>
                <tr>
                  <th>SRR Value (mins)</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>15/15</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>0/0</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th colspan="2" class="head">Line Stoppage (Material)</th>
                </tr>
                <tr>
                  <th>SRR Value (mins)</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>15/15</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>0/0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Card 3 -->
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Section 2 [60/60]
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th colspan="2" class="head">Line Stoppage (Material)</th>
                </tr>
                <tr>
                  <th>SRR Value (mins)</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>15/15</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>0/0</td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                <tr>
                  <th colspan="2" class="head">Line Stoppage (Material)</th>
                </tr>
                <tr>
                  <th>SRR Value (mins)</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>15/15</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>0/0</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th colspan="2" class="head">Line Stoppage (Material)</th>
                </tr>
                <tr>
                  <th>SRR Value (mins)</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>15/15</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>0/0</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th colspan="2" class="head">Line Stoppage (Material)</th>
                </tr>
                <tr>
                  <th>SRR Value (mins)</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>15/15</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>0/0</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th colspan="2" class="head">Line Stoppage (Material)</th>
                </tr>
                <tr>
                  <th>SRR Value (mins)</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>15/15</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>0/0</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th colspan="2" class="head">Line Stoppage (Material)</th>
                </tr>
                <tr>
                  <th>SRR Value (mins)</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>15/15</td>
                </tr>
                <tr>
                  <td>0</td>
                  <td>0/0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <!-- Card 4 -->
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Card 4 Title
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Repeat for other cards as needed -->

  </mat-grid-list>